<table>
    <tr>
        <th>
            <label for="id_search_first_name">First Name like</label>
        </th>
        <td>
            <input id="id_search_first_name" name="search_first_name" type="text" value="{{ search_first_name }}"/>
        </td>
        <th>
            <label for="id_search_last_name">Last Name like</label>
        </th>
        <td>
            <input id="id_search_last_name" name="search_last_name" type="text" value="{{ search_last_name }}"/>
        </td>
    </tr>

</table>
