{% extends 'epic/base_popup.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
    <!-- add brand - used as a popup -->
    <form action="" method="post">
        {% csrf_token %}
        <h3>Add Customer</h3>
        <section>
            <section class="flex-vertical">
                {% include "epic/common/form_as_flex_column.html"  with form=customer_form %}
                {% include "epic/common/form_as_flex_column.html" with form=phone_form %}
            </section>
            {% include "epic/common/form_as_flex_column.html" with form=address_form %}
        </section>
        <hr/>

        <input type='submit' value='Add Customer' class="button"/>
        <input type='button' value='Close' onclick='closeAddCustomer();' class="button"/>
    </form>
    <script src="{% static 'js/customer/customer_add_popup.js' %}"></script>
    {% if new_customer %}
        <script>
            returnCustomerToOpener("{{ new_customer.id }}");
        </script>
    {% endif %}

{% endblock %}
