body {
    padding-left: 15px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
}
a a:visited a:active {
  colour:#ed1b24;
}
th {
    padding: 10px;
    vertical-align: bottom;
}
td {
    padding: 5px;
    vertical-align: top;
}
.menu td {
    padding: 15px;
    vertical-align: top;
}
.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

a a:visited a:active {
  colour:#ed1b24;
}
.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family:  Lato, Arial, Helvetica, sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ed1b24;
    float: right;
    font-size: 11pt;
    margin-right: 20px;
}
row1 {
    background-color: #cfcfd1;
}
row2 {
    background-color: #ededef;
}
