body {
    margin: 0;
    padding: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    letter-spacing: 0;
}

th {
    padding: 5px;
    font-size: 10pt;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
}

.listHead {
    padding: 5px;
    font-size: 11pt;
    font-weight: bold;
    background-color: #c82011;
    color: white;
    vertical-align: bottom;
    text-align: center;
}
