body {
    margin: 0;
    padding: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    letter-spacing: 0;
}

th {
    padding: 5px;
    font-size: 10pt;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
}

.listHead {
    padding: 5px;
    font-size: 11pt;
    font-weight: bold;
    background-color: #c82011;
    color: white;
    vertical-align: bottom;
    text-align: center;
}

td {
    padding: 2px;
    font-size: 10pt;
    font-weight: normal;
    vertical-align: middle;
}

.menu td {
    padding: 15px;
    vertical-align: top;
}

.page_actions td {
    vertical-align: middle;
    align-content: end;
}

.page-header {
    background-color: #c82011;
    margin-top: 0;
    padding: 10px 10px 10px 10px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    text-decoration: none;
}

.internal_link, .menu-link {
    display: block;
    background-color: inherit;

    color: black;
    text-align: inherit;
    padding: 0;

}

a.internal_link:hover, a.internal_link:focus {
    text-decoration: underline;
    background-color: white;
    color: black;
}

a.internal_link, a.internal_link:visited, a.internal_link:active {
    text-decoration: none;
    background-color: white;
    color: black;

}

.menu-link a:hover, a:focus {
    text-decoration: underline;
    background-color: white;
    color: black;
}

.menu-link a, a:visited, a:active {
    text-decoration: none;
    background-color: white;
    color: black;

}

.content {
    margin-left: 10px;
}

h1, h2, h3, h4 {
    color: #c82011;
    font-family: Lato, Arial, Helvetica, sans-serif;
    margin: 10px 0 5px 0;
}

body h1, .h1 {
    font-size: 14pt;
}

body h2 {
    font-size: 13pt;
}

body h3 {
    font-size: 12pt;
}

body h4 {
    font-size: 11pt;
    font-style: italic;
}

section {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
}

section.flex-vertical {
    display: flex;
    flex-direction: column;
}

div.field-label {
    font-weight: bold;
    padding-left: 5px;
}

div.field-input {
    font-weight: bold;
    padding-left: 25px;
}

.half {
    width: 50%;
}

.three-quarters {
    width: 75%;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #c82011;
    float: right;
    font-size: 11pt;
    margin-right: 20px;
    text-decoration: none;
}

/* input validation bits */
input[type=text],
input[type=email],
input[type=number],
textarea,
select,
fieldset {
    border: 1px solid #333;
    margin: 2px;

    font-family: inherit;
    font-size: 90%;

    box-sizing: border-box;
}

select {
    vertical-align: top;
}

input:invalid {
    box-shadow: 0 0 5px 1px #c82011;
    color: #c82011;
    font-weight: bold;
}

input:focus:invalid {
    outline: none;
}

input:disabled {
    background-color: grey;
}

.section_part {
    background-color: #adaaaa;
    font-weight: bold;
}

.row1 {
    background-color: #e2e2e2;
}

.row2 {
    background-color: #f2f2f2;
}

.new_row {
    background-color: #c2f285;
}

.red {
    color: #c82011;
}

/*styles for messages*/
.info {
    color: #333333;
}

.warning {
    color: #333333;
    font-style: italic;
}

.success {
    color: #333333;
    font-weight: bold;
}

.error {
    color: #c82011;
    font-weight: bold;
}

div.error {
    background-color: #c82011;
}

td.error {
    background-color: #c82011;
}

.errorlist {
    color: #c82011;
    font-weight: bold;
}

.noPadding td {
    padding: 0px;
}

.align_top {
    vertical-align: top;
}

.vertical-middle {
    vertical-align: middle;
}

.align_right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align_center {
    text-align: center;
}

/* button properties */
.disabled {
    text-decoration: none;
    opacity: 0.6;
    cursor: not-allowed;
}

.disabled:hover, .disabled:focus {
    text-decoration: none;
    opacity: 0.6;
    color: white;
    cursor: not-allowed;
}

a.button, input.button {
    background-color: #c82011;
    border: 1px #000000;;
    border-radius: 4px;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Lato, Arial, Helvetica, sans-serif;
    min-width: 50px;
}

.button:disabled {
    text-decoration: none;
    background-color: grey;
}

.button:hover, .button:focus {
    text-decoration: underline;
    color: white;
}

/* override defaults */
fieldset {
    border: hidden;
}

/* class to remove tr's from display*/
.no-show {
    height: 0px;
    overflow: hidden;
}

.attributes ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    background-color: inherit;
}

.attributes li {
    background-color: inherit;
}