.part-type-cell {
    width: 90px;
    padding: 0px;
}

.bike-part-cell {
    padding: 0px;
    width: 330px;
}

.details-cell {
    padding: 0px;
    width: 220px;
}

.not-reqd-cell {
    padding: 0px;
    width: 80px;
    text-align: center;
}

.trade-in-cell {
    padding: 0px;
    width: 90px;
}

.brand-cell {
    padding: 0px;
    width: 190px;
}

.part-cell {
    padding: 0px;
    width: 150px;
}

.quantity-cell {
    padding: 0px;
    width: 70px;
}

.sell-price-cell {
    padding: 0px;
    width: 80px;
}

.no-show {
    display: none;
}

.material-icons:hover {
    cursor: hand;
}