<!--Form elements for adding a note-->
<section class="flex-vertical">
    <div>
        <h3>Epic Notes</h3>
    </div>
    <div title="Notes to be used internally, not visible to the customer">
        <textarea rows="4" cols="30" id="note_contents_epic" name="note_contents_epic"
                  placeholder="New Notes"></textarea>
    </div>
    <div>
        <h3>Customer Notes</h3>
    </div>
    <div title="Notes visible to the customer">
        <textarea rows="4" cols="30" id="note_contents_cust" name="note_contents_cust"
                  placeholder="New Customer Notes"></textarea>
    </div>
</section>


