<div>{{ quote.customer }}</div>
{% if quote.is_bike %}
    <div>
        <h4>Bike details</h4>
        <p>
            <strong>Bike: </strong>{{ quote.frame }}<br>
            <strong>Colour: </strong>{{ quote.colour }}<br>
            <strong>Size: </strong>{{ quote.frame_size }}
        </p>
        {% if quote.fitting %}
            <p><strong>Fitting: </strong>
                {{ quote.fitting }}
            </p>
        {% endif %}
    </div>
{% endif %}
<section class="{{ view_class }}">
    <div>
        <h4>Quote Detail</h4>
        <table>
            {% for quote_detail in quote_details %}
                {% cycle 'row1' 'row2' as rowcolors silent %}
                <tr class="{{ rowcolors }}">
                    <td>{{ quote_detail }}</td>
                </tr>
            {% endfor %}
            <tr><td class="align_right">Quote total <strong>£ {{ quote.keyed_sell_price }}</strong></td></tr>
        </table>
    </div>
    <div>
        {% include "epic/notes/notes_display.html" %}
    </div>
</section>