<td>
    {% if quote.can_be_edited %}
        <a href="{% url 'quote_edit' pk=quote.pk %}" title="edit quote">
            <i class="material-icons red ">edit</i>
        </a>
    {% else %}
        <a href="{% url 'quote_browse' pk=quote.pk %}" title="browse quote">
            <i class="material-icons red ">open_in_browser</i>
        </a>
    {% endif %}
</td>
<td>
    {% if quote.can_be_issued %}
        <a href="{% url 'quote_issue' pk=quote.pk %}" title="View summary and Issue quote">
            <i class="material-icons red ">publish</i></a>
    {% elif quote.can_be_reissued %}
        <a href="{% url 'quote_amend' pk=quote.pk %}" title="amend quote">
            <i class="material-icons red ">launch</i></a>
    {% endif %}
</td>
<td>
    {% if quote.is_bike %}
        <a href="{% url 'copy_quote' pk=quote.pk %}" title="copy to new quote">
            <i class="material-icons red ">file_copy</i></a>
    {% endif %}
</td>
