<form id="copy_quote_changes_form" name="copy_quote_changes_form" action="{% url 'quote_copy_with_changes' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="new_frame_id" id="new_frame_id" value=""/>
    <input type="hidden" name="new_customer_id" id="new_customer_id" value=""/>
    <input type="hidden" name="copy_quote_id" id="copy_quote_id"
            {% if quote %}
           value="{{ quote.id }}"
            {% else %}
           value=""
            {% endif %}
    />
</form>