<!--Form elements for adding a note-->
<h3>Notes</h3>
<table>
    <tr>
        <th>Epic Notes</th>
    </tr>
    <tr>
        <td>
            <textarea rows="4" cols="30" id="note_contents_epic" name="note_contents_epic" placeholder="New Notes"></textarea>
        </td>
    </tr>   <tr>
        <th>Customer Notes</th>
    </tr>
    <tr>
        <td>
            <textarea rows="4" cols="30" id="note_contents_cust" name="note_contents_cust" placeholder="New Customer Notes"></textarea>
        </td>
    </tr>
</table>
