{% load staticfiles %}
{% load static %}
<html>

<head>
<link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/epic.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.css' %}">
    <link rel="stylesheet" href="{% static 'css/quote_edit_bike.css' %}">
    <link
            rel="stylesheet"
            href="https://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{% static 'js/common/jquery.js' %}"></script>
    <script src="{% static 'js/common/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
{% include "epic/menu/menu_nav.html" %}
{% include "epic/base_header.html" %}


<div class="content container">
    {% block content %}
    {% endblock %}
</div>
<div style="display: none">
    <input type="hidden" id="brandSelectorId">
    {% include "epic/part/part_helper.html" with parts_for_js=parts_for_js %}
</div>
</body>


</html>
