{% load staticfiles %}
{% load static %}
<html>

<head>
    <title>Epic Cycles Menu</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/epic.css' %}">
</head>

<body onload="addListeners()">
{% if user.is_authenticated %}
    <a href="{% url 'quote_menu' %}" class="top-menu">Home</a>
    <p class="top-menu">Hello {{ user.username }}
        <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
    </p>
{% else %}
    <a href="{% url 'login' %}" class="top-menu">Login</a>
{% endif %}
<h1>Epic Cycles</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="content container">
    {% block content %}
    {% endblock %}
</div>
</body>

<script src="{% static 'js/base.js' %}"></script>

</html>
