{% extends 'epic/base.html' %}
{% block content %}
<h2>Customers</h2>
<form action="" method="get">
    <h3>Filter values:</h3>
    {% include "epic/customer_search_params.html" %}
    {{ form.as_table }}
    <input type="submit" value="Search"  class="button"/>
</form>
<hr/>
{% if customer_list %}
<table>
    <tr>
        <th class="listHead">First Name</th>
        <th class="listHead">Last Name</th>
        <th class="listHead">email</th>
        <th class="listHead"></th>
    </tr>
    {% for customer in customer_list %}
    {% cycle 'row1' 'row2' as rowcolors silent %}
    <tr class="{{ rowcolors }}">
        <td>{{ customer.first_name }}</td>
        <td>{{ customer.last_name }}</td>
        <td>{{ customer.email }}</td>
        <td><a href="{% url 'edit_customer' pk=customer.pk %}" class="button">Edit</a></td>
    </tr>
    {% endfor %}
</table>
  {% include "epic/pagination.html" %}
{% else %}
<p>No customers to view.</p>
{% endif %}
<a href="{% url 'add_customer' %}" class="button">Add New Customer</a>
{% endblock %}
