{% extends 'epic/base_popup.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
    <!-- select a customer - used as a popup -->
    <form action="" method="get">
        <table>
            <tr>
                <td>
                    {% include "epic/customer_search_params.html" %}
                    {{ form.as_table }}
                </td>
                <td>
                    <input type="submit" value="Search" class="button"/>
                </td>
            </tr>
        </table>
    </form>
    <hr/>
    {% if customer_list %}
        <table>
            {% for customer in customer_list %}
                <label>
                    <input type="radio" name="customer" id="customer" value="{{ customer.pk }}"
                           onclick="handleClick(this)"/>
                    {{ customer }}</label>
                <br/>
            {% endfor %}
        </table>
        <input type='button' value='Select Customer' onclick='selectAndClose()' class="button"/>
        {% include "epic/pagination.html" %}
    {% else %}
        <p>No customers to view.</p>
    {% endif %}
    <!-- pop up specific script -->
    <script src="{% static 'js/customer_select_popup.js' %}"></script>
{% endblock %}
