{% load popup_helper %}

<td {% if field.errors %}
    title="Error Details:
{% for error in field.errors %}
{{ error }}
{% endfor %}"
{% endif %}
    class="{% if field.errors %}error {% endif %}{% if 'brand' in field.name %} brand-cell{% elif 'required' in field.name %} not-reqd-cell{% elif 'trade' in field.name %} trade-cell{% elif 'part' in field.name %} part-cell{% elif 'quantity' in field.name %}quantity-cell{% elif 'price' in field.name %}quantity-cell{% endif %}"
>
    {{ field }}{{ field|getBrandLink }}
</td>