{% extends 'epic/base_popup.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
    <!-- select a frame - used as a popup -->
    <form action="" method="post">
        {% csrf_token %}
        <section style="padding:5px;">
            <div><b>Filter values:</b></div>
            <div>
                <table>
                    {% for field in frame_search_form.visible_fields %}
                        <tr>
                            <td>
                                {{ field.label_tag }}
                            </td>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div><input type="submit" value="Search" class="button"/></div>
        </section>
    </form>
    <hr/>
    {% if possible_frames %}
        <section>
            <div style='padding-left: 10px; overflow: auto;'>
                {% for frame in possible_frames %}
                    <label>
                        <input type="radio" name="frame" id="frame" value="{{ frame.pk }}"
                               onclick="handleClick(this)"/>
                        &nbsp;
                        {{ frame }}</label>
                    <br/>
                {% endfor %}
            </div>
            <div style="padding-left: 20px;">
                <input type='button' class="button" value='Select Frame' onclick='selectAndClose()'/>
            </div>
        </section>
    {% else %}
        <p>No frames match search criteria.</p>
    {% endif %}
    <!-- pop up specific script -->
    <script src="{% static 'js/frame_select_popup.js' %}"></script>
{% endblock %}