{% extends 'epic/base.html' %}

{% block content %}
<div>
    <h2>Customer Details</h2>
    <form action="" method="post">
        {% csrf_token %}
        <table><tr>
          <td>
            <h3>Customer</h3>
              {% with customerForm as form %}
                {% include "epic/form_as_table.html" %}
              {% endwith %}
              <br />
              <input type="submit" value="Save Changes"  class="button"/>
          </td>
          <td>
            <h3>New Quote</h3>
              {% with customerQuoteForm as form %}
                {% include "epic/form_as_table.html" %}
              {% endwith %}
          </td>
          <td>
            <h3>Existing Quotes</h3>
            <table>
              <tr>
                <th class="listHead">Name</th>
                <th class="listHead">Value</th>
                <th class="listHead"></th>
                <th class="listHead"></th>
              </tr>
              {% for quote in existingQuotes %}
                <tr>
                  <td>{{ quote }}</td>
                  <td>{{ quote.keyed_sell_price }}</td>
                  <td>{%if quote.issuedDate == None %}
                        {%if quote.quote_type == 'B' %}
                          <a href="{% url 'quote_edit_bike' pk=quote.pk %}"  target="_blank" class="button">
                        {% else %}
                          <a href="{% url 'quote_edit_simple' pk=quote.pk %}" target="_blank" class="button">
                        {% endif %}
                          edit</a>{% endif %}</td>
                  <td><a href="{% url 'copy_quote' pk=quote.pk %}" target="_blank" class="button">copy</a></td>
                </tr>
              {% endfor %}
            </table>
          </td>
        </tr></table>
        <fieldset>
            <h3>Customer Address</h3>
            {{ addressFormSet.management_form }}
            {{ addressFormSet.non_form_errors }}
            <table>
            {% for form in addressFormSet %}
              {% include "epic/formset_display.html" %}
            {% endfor %}
            </table>
            {% for form in addressFormSet %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
            {% endfor %}
        </fieldset>
        <table><tr>
          <td><fieldset>
              <h3>Customer Phone</h3>
              {{ phoneFormSet.management_form }}
              {{ phoneFormSet.non_form_errors }}
              <table>
              {% for form in phoneFormSet %}
                {% include "epic/formset_display.html" %}
              {% endfor %}
              </table>
              {% for phoneForm in phoneFormSet %}
                {% for hidden in phoneForm.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              {% endfor %}
          </fieldset></td>
          <td><fieldset>
              <h3>Customer Fittings</h3>
              {{ fittingFormSet.management_form }}
              {{ fittingFormSet.non_form_errors }}
              <table>
              {% for form in fittingFormSet %}
                {% include "epic/formset_display.html" %}
              {% endfor %}
              </table>
              {% for fittingForm in fittingFormSet %}
                {% for hidden in fittingForm.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              {% endfor %}
          </fieldset></td>
        </tr></table>
        <input type="submit" value="Save Changes" class="button" />
    </form>
</div>

{% endblock %}
