{% if linkClass == "menu-link" %}
    <li><a href="{% url 'admin:epic_frame_changelist' %}" class="{{ linkClass }}">List Bikes</a></li>
    <li><a href="{% url 'admin:epic_brand_changelist' %}" class="{{ linkClass }}">Brands</a></li>
    <li><a href="{% url 'admin:epic_supplier_changelist' %}" class="{{ linkClass }}">Suppliers</a></li>
    <li><a href="{% url 'admin:epic_partsection_changelist' %}" class="{{ linkClass }}">Quote Sections</a></li>
    <li><a href="{% url 'admin:epic_parttype_changelist' %}" class="{{ linkClass }}">Part Types and attributes</a></li>
{% else %}

    <a href="{% url 'admin:epic_frame_changelist' %}" class="{{ linkClass }}">List Bikes</a>
    <a href="{% url 'admin:epic_brand_changelist' %}" class="{{ linkClass }}">Brands</a>
    <a href="{% url 'admin:epic_supplier_changelist' %}" class="{{ linkClass }}">Suppliers</a>
    <a href="{% url 'admin:epic_partsection_changelist' %}" class="{{ linkClass }}">Quote Sections</a>
    <a href="{% url 'admin:epic_parttype_changelist' %}" class="{{ linkClass }}">Part Types and attributes</a>
{% endif %}