{% extends 'epic/base.html' %}
{% block content %}
    <table width="100%" class="menu">
        <tr>
            <td>
                <h2>Sales</h2>
                <h3>Customer</h3>
                <ul>
                    <li><a href="{% url 'customer_list' %}" class="menu-link">Find Customer</a></li>
                    <li><a href="{% url 'add_customer' %}" class="menu-link">New Customer</a></li>
                </ul>
                <h3>Quote</h3>
                <ul>
                    <li><a href="{% url 'add_quote' %}" class="menu-link">New quote</a></li>
                    <li><a href="{% url 'quote_list' %}" class="menu-link">Find Quote</a></li>
                    <li><a href="{% url 'my_quote_list' %}" class="menu-link">View my quotes</a></li>
                </ul>
                <h3>Customer Order</h3>
                <ul>
                    <li><a href="{% url 'order_list' %}" class="menu-link">Find Order</a></li>
                </ul>
            </td>
            {% if user.is_superuser %}
                <td>
                    <h2>Admin</h2>
                    {% if suppliers_requiring_orders %}
                        <h3>Create Supplier Order</h3>
                        <ul>
                            {% for supplier in suppliers_requiring_orders %}
                                <li><a href="/supplierOrderRequired/{{ supplier.id }}/"
                                       class="menu-link">{{ supplier.supplier_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                    {% endif %}
                    <h3>Maintain core data</h3>
                    <ul>
                        <li><a href="{% url 'bike_upload' %}" class="menu-link">Upload Bike Details</a></li>
                        {% with "menu-link" as linkClass %}
                        {% include "epic/menu_admin_links.html" %}
                    {% endwith %}
                    </ul>
                    <h3>Customer Data Maintenance</h3>
                    <ul>{% with "menu-link" as linkClass %}
                        {% include "epic/menu_cust_admin.html" %}
                    {% endwith %}</ul>
                </td>
            {% endif %}
            <td>
                <h2>External Links</h2>
                <h3>Brands</h3>
                <ul>
                    {% for brand in brands %}
                        <li><a target="_blank" class="menu-link" href="{{ brand.link }}">{{ brand.brand_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}
