<h3>Notes:</h3>
{% if customer_notes %}
    <table>
        <tr>
            <th class="listHead">Note</th>
            <th class="listHead">Date Created</th>
            <th class="listHead">Created by</th>
            <th class="listHead">Customer Visible</th>
        </tr>
        {% for customer_note in customer_notes %}
            {% cycle 'row1' 'row2' as rowcolors silent %}
            <tr class="{{ rowcolors }}">
                <td>{{ customer_note.note_text }}</td>
                <td>{{ customer_note.created_on }}</td>
                <td>{{ customer_note.created_by }}</td>
                <td>{% if customer_note.customer_visible %}Yes{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    No Notes exist
{% endif %}
