{% load staticfiles %}
{% load static %}
{% if quote.can_be_issued %}
    <input type="button" value="Issue Quote and email"  onclick="setAction('Issue')" class="button"/>
    <a href="{% url 'quote_amend' pk=quote.pk %}" class="button"
       title="Continue editing
Do not issue quote as is.">Continue Editing</a>
{% else %}
    {% if quote.can_be_reissued %}
        <input type="button" value="Resend quote email"  onclick="setAction('Re-Issue')" class="button"/>

        <a href="{% url 'quote_requote' pk=quote.pk %}" class="button"
           title="Edit Quote
This will create a new version based on the issued quote">Edit Quote</a>
    {% else %}
        <a href="{% url 'quote_requote' pk=quote.pk %}" class="button" title="Edit Quote
This will create a new version based on the issued quote">Edit Quote</a>
    {% endif %}
{% endif %}
<input type="button"
        {% if quote.can_be_ordered %}
       class="button"
       onclick="getDepositAmount({{ quote.keyed_sell_price }})"
       title="Place an order and email confirmation to the customer."
        {% else %}
       class="button disabled" onclick="return false;"
        {% endif %} value="Confirm Order"/>
<input type="hidden" name="deposit_taken" id="deposit_taken" value="" />
<input type="hidden" name="action_required" id="action_required" value="Dummy" />
<script src="{% static 'js/quote_issued_buttons.js' %}"></script>


