{% extends 'epic/base.html' %}
{% block title %}Epic Cycles Sales - Bike Quote{% endblock %}
{% load staticfiles %}
{% load static %}
{% load popup_helper %}
{% block content %}

    <h2>Quote - {{ quote.customer }} / {{ quote.frame }}</h2>
    <form action="{% url 'quote_edit_bike' pk=quote.pk %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td class="align_top">
                    {{ quote_form.non_field_errors }}
                    <table>
                        {% for field in quote_form.visible_fields %}
                            <tr>
                                <th>{{ field.label_tag }}</th>
                                {% include "epic/field_as_td.html"  with field=field %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <th>Quote Total (£)</th>
                            <td>{{ quote.sell_price }}</td>
                            <td></td>
                        </tr>
                    </table>
                    {% for hidden in quote_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                </td>
                <td class="align_top">
                    <h4>Add Item to Quote</h4>
                    {% include "epic/form_as_table.html"  with form=quoteSimpleAddPart %}
                </td>
                <td class="align_top">
                    <h4>Fitting Details</h4>
                    {% if customerFittings %}
                        <select name='id_fitting' id='id_fitting' title="select existing fitting to use">
                            <option value="">No Fitting</option>
                            {% for fitting in customerFittings %}
                                <option value="{{ fitting.id }}" {% if quote.fitting == fitting %}
                                        selected {% endif %}>{{ fitting }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <strong>Self Sized</strong>
                    {% endif %}
                    <h4>New Fitting</h4>
                    {% include "epic/form_as_table.html" with form=fittingForm %}
                </td>
                <td class="align_top">
                    {% include "epic/add_notes.html" %}
                </td>
            </tr>
        </table>
        {% include "epic/form_standard_actions.html" %}
        <a href="{% url 'quote_issue' pk=quote.pk %}"  {% if quote.can_be_issued %} class="button"{% else %}
           class="button disabled" onclick="return false;" {% endif %}>Issue Quote</a>
        {% include "epic/quote_copy_options.html" %}

        <h3>Bike specification</h3>
        <div style="width:100%; overflow-x: auto;">
            <table style="table-layout: fixed">
                <tr id="bike_header">
                    <th class="listHead part-type-cell">Part Type</th>
                    <th class="listHead bike-part-cell">Bike Part</th>
                    <th class="listHead details-cell">Additional Details</th>
                    <th class="listHead not-reqd-cell">Not Reqd</th>
                    <th class="listHead trade-in-cell">Trade In</th>
                    <th class="listHead brand-cell">Quote Brand</th>
                    <th class="listHead part-cell">Quote Part</th>
                    <th class="listHead quantity-cell">Quantity</th>
                    <th class="listHead sell-price-cell">Sell Price</th>
                </tr>
            </table>
            <div style="height: 50%;overflow-y: scroll;">
                <table style="table-layout: fixed">
                    {% for section, sectionContents, sectionVisibility in quoteSections %}
                        <tr>
                            <td colspan='9' class="section_part">
                            <span id="expand_{{ section.id }}" {% if sectionVisibility == '1' %}
                                  class="no-show"{% endif %}>
                                <i class="material-icons red " onclick="expandOrContract('{{ section.id }}','1')">expand_more</i>
                            </span>
                                <span id="contract_{{ section.id }}"  {% if sectionVisibility == '0' %}
                                      class="no-show"{% endif %}>
                                <i class="material-icons red"
                                   onclick="expandOrContract('{{ section.id }}','0')">expand_less</i>
                            </span>
                                {{ section.name }}
                                <input type="hidden" name="sectionVisible{{ section.id }}"
                                       id="sectionVisible{{ section.id }}" value="{{ sectionVisibility }}">
                            </td>
                        </tr>
                        {% for part_type, frame_part, part_attributes, form in sectionContents %}
                            {% cycle 'row1' 'row2' as rowcolors silent %}
                            <tr class="{{ rowcolors }}  {% if sectionVisibility == '0' %} no-show{% endif %} bike_row_{{ section.id }}">

                                <td class="part-type-cell">{{ part_type }}</td>
                                <td class="bike-part-cell">
                                    {{ frame_part }}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                </td>

                                <td class="details-cell">
                                    <table>
                                        {% for quotePartAttributeForm in part_attributes %}
                                            <section class="{{ rowcolors }}">
                                                <div>
                                                    {{ quotePartAttributeForm.attribute_name.value }} :&nbsp;
                                                    {% for hidden in quotePartAttributeForm.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                </div>
                                                {% include "epic/field_as_div.html"  with field=quotePartAttributeForm.attribute_value divClass="attributes" %}
                                            </section>
                                        {% endfor %}
                                    </table>

                                </td>
                                {% for field in form.visible_fields %}
                                    {% include "epic/field_as_td.html"  with field=field %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    <tr id="empty-row">
                        <td class=" part-type-cell"></td>
                        <td class=" bike-part-cell"></td>
                        <td class=" details-cell"></td>
                        <td class=" not-reqd-cell"></td>
                        <td class=" trade-in-cell"></td>
                        <td class=" brand-cell"></td>
                        <td class=" part-cell"></td>
                        <td class=" quantity-cell"></td>
                        <td class=" sell-price-cell"></td>
                    </tr>
                </table>
            </div>
        </div>

        {% include "epic/form_standard_actions.html" %}
        <a href="{% url 'quote_issue' pk=quote.pk %}"  {% if quote.can_be_issued %} class="button" {% else %}
           class="button disabled" onclick="return false;" {% endif %}>Complete Quote</a>

    </form>
    {% include "epic/notes_display.html" %}
    {% include "epic/quote_copy_new_bike.html" %}
    <script src="{% static 'js/quote_copy_action.js' %}"></script>
    <script>
        function expandOrContract(section_name, toValue) {
            var find_class = "bike_row_" + section_name;
            var expand_id = "expand_" + section_name;
            var contract_id = "contract_" + section_name;
            var visibility_id = "sectionVisible" + section_name;
            $("." + find_class).toggleClass("no-show");
            $("#" + expand_id).toggleClass("no-show");
            $("#" + contract_id).toggleClass("no-show");
            $("#" + visibility_id).val(toValue);
        }
    </script>

{% endblock %}
