{% extends 'epic/base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <h2>Quote</h2>
    <form action="" method="post" id="new_quote_form">
        {% csrf_token %}

        <input type="hidden" name="form_action" id="form_action" value="create_quote"/>

        <section>
            <div>
                <h3>Customer</h3>
                {% if customer %}
                    {{ customer }}
                    {% for address in customer_addresses %}
                        <br/>
                        {{ address }}
                    {% endfor %}
                    {% for phone in customer_phones %}
                        <br/>
                        {{ phone }}
                    {% endfor %}
                    <br/>
                    <input type="button" onclick="popupDetail('{% url 'select_customer' %}','Change Customer')"
                           class="button" value="Change Customer"/>
                {% else %}
                    <input type="button" onclick="popupDetail('{% url 'select_customer' %}','Select Customer')"
                           class="button" value="Select Customer"/>

                {% endif %}

                <a href="{% url 'add_customer' %}" class="button">Create New Customer</a>
                <input type="hidden" name="new_customer_id" id="new_customer_id" value=""/>
            </div>
            <div>
                <h3>Quote Basics</h3>
                {% include "epic/form_as_table.html" with form=quote_form %}
            </div>
            <div>
                {% include "epic/add_notes.html" %}
            </div>
        </section>
        {% include "epic/form_standard_actions.html" %}
    </form>
    <!-- pop up specific script -->
    <script src="{% static 'js/quote_start.js' %}"></script>

{% endblock %}
