{% extends 'epic/base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        <section style="width:100%">
            <div><h2>Quote</h2></div>
            <div style="width:80%;  text-align:right;">
                {% include "epic/quote_issued_buttons.html" %}
                <br/>
                {% include "epic/quote_copy_options.html" %}
                {% include "epic/quote_standard_build.html" %}
            </div>
        </section>
    </form>
    {% include "epic/quote_issued_bike_detail.html" %}
    {% include "epic/notes_display.html" %}
    {% include "epic/quote_copy_new_bike.html" %}
    <script src="{% static 'js/quote_copy_action.js' %}"></script>
{% endblock %}
