{% if quote.can_be_issued %}
    <input type="submit" value="Issue Quote and email" class="button"/>
    <a href="{% url 'quote_amend' pk=quote.pk %}" class="button" title="Continue editing
Do not issue quote as is.">Continue Editing</a>
{% else %}
    {% if quote.can_be_reissued %}
            <input type="submit" value="Resend quote email" class="button"/>

        <a href="{% url 'quote_requote' pk=quote.pk %}" class="button" title="Edit Quote
This will create a new version based on the issued quote">Edit Quote</a>
    {% else %}
         <a href="{% url 'quote_requote' pk=quote.pk %}" class="button" title="Edit Quote
This will create a new version based on the issued quote">Edit Quote</a>
    {% endif %}
{% endif %}
<a href="{% url 'quote_order' pk=quote.pk %}"  {% if quote.can_be_ordered %} class="button" {% else %}
   class="button disabled" onclick="return false;" {% endif %}>Confirm Order</a>
