{% extends 'epic/base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
    <table width="100%">
        <tr>
            <td><h2>Copy Quote</h2></td>
            <td class="page_actions align_right">
                {% if quote.frame %}
                <input type="button" onclick="popupDetail('{% url 'bike_select_popup' %}','Select Frameset/Bike')"
                       class="button" value="Change Bike"/>
                {% endif %}
                <input type="button" onclick="popupDetail('{% url 'select_customer' %}','Select Customer')"
                       class="button" value="Change Customer"/>
                <a href="{% url 'quote_amend' pk=quote.pk %}" class="button">Edit</a>
            </td>
        </tr>
    </table>
    <h3>Current Quote Details</h3>
    {% include "epic/quote_issued_bike_detail.html" %}
    <form id="change_details_form" name="change_details_form" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="new_customer_id" id="new_customer_id" value=""/>
        <input type="hidden" name="new_frame_id" id="new_frame_id" value=""/>
    </form>
    <!-- pop up specific script -->
    <script src="{% static 'js/quote_copy_bike.js' %}"></script>
{% endblock %}
