{% extends 'epic/base.html' %}
{% block content %}
<h2>Quotes</h2>
<form action="" method="get">
    <h3>Filter values:</h3>
    {% with quoteSearchForm as form %}
      {% include "epic/form_as_table.html" %}
    {% endwith %}
    <input type="submit" value="Search" class="button" />
</form>
<hr/>
{% if quote_list %}
<table>
    <tr>
        <th class="listHead">Customer</th>
        <th class="listHead">Quote Description</th>
        <th class="listHead">Quote Type</th>
        <th class="listHead">Bike</th>
        <th class="listHead">Date Created</th>
        <th class="listHead">Quote Total</th>
        <th class="listHead">Owner</th>
        <th class="listHead"></th>
        <th class="listHead"></th>
    </tr>
    {% for quote in quote_list %}
    {% cycle 'row1' 'row2' as rowcolors silent %}
    <tr class="{{ rowcolors }}">
        <td>{{ quote.customer }}</td>
        <td>{{ quote }}</td>
        <td>{{ quote.get_quote_type_display  }}</td>
        <td>{{ quote.frame }}</td>
        <td>{{ quote.created_date }}</td>
        <td>{{ quote.sell_price }}</td>
        <td>{{ quote.created_by }}</td>
        <td>{%if quote.issuedDate == None %}
              {%if quote.quote_type == 'B' %}
                <a href="{% url 'quote_edit_bike' pk=quote.pk %}" class="button">
              {% else %}
                <a href="{% url 'quote_edit_simple' pk=quote.pk %}" class="button">
              {% endif %}
                Edit</a>{% endif %}</td>
        <td><a href="{% url 'copy_quote' pk=quote.pk %}" class="button">Copy</a></td>
    </tr>
    {% endfor %}
</table>
  {% include "epic/pagination.html" %}

{% else %}
<p>No quotes to view.</p>
{% endif %}
<a href="{% url 'add_quote' %}" class="button">Add a quote</a>
{% endblock %}
