{% extends 'epic/base.html' %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <table><tr>
      <td>
        <h2>Quote Summary</h2>
        {% with quoteForm as form %}
          {% include "epic/form_as_table.html" %}
        {% endwith %}
      </td>
      <td>
        {% with fittingForm as form %}
          {% include "epic/form_as_table.html" %}
        {% endwith %}
      </td>
    </tr></table>

    <fieldset>
        <h3>Bike specification</h3>
        {{ quoteBikePartFormSet.management_form }}
        {{ quoteBikePartFormSet.non_form_errors }}
        <table>
        {% for form in quoteBikePartFormSet %}
          {% include "epic/formset_display.html" %}
        {% endfor %}
        </table>
        {% for form in quoteBikePartFormSet %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
        {% endfor %}
    </fieldset>


    <input type="submit" value="Save Quote" />
</form>
{% endblock %}
