{% extends 'epic/base.html' %}

{% block content %}
    <table width="100%" class="menu">
        <tr>
            <td>
                <h2>Sales</h2>
                <h3>Customer</h3>
                <ul>
                    <li><a href="{% url 'customer_list' %}" class="internal_link">Find Customer</a></li>
                    <li><a href="{% url 'add_customer' %}" class="internal_link">New Customer</a></li>
                </ul>
                <h3>Quote</h3>
                <ul>
                    <li><a href="{% url 'quote_list' %}" class="internal_link">Find Quote</a></li>
                    <li><a href="{% url 'add_quote' %}">New quote</a></li>
                    <li><a href="{% url 'my_quote_list' %}">View my quotes</a></li>
                </ul>
                <h3>Order</h3>
                <ul>
                    <li><a href="{% url 'order_list' %}" class="internal_link">Find Order</a></li>
                </ul>
            </td>
            {% if user.is_superuser %}
                <td>
                    <h2>Admin</h2>
                    {% if suppliers_requiring_orders %}
                        <h3>Create Supplier Order</h3>
                        <ul>
                            {% for supplier in suppliers_requiring_orders %}
                                <li><a href="/supplierOrderRequired/{{ supplier.id }}/">{{ supplier.supplier_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No polls are available.</p>
                    {% endif %}
                    <h3>Maintain core data</h3>
                    <ul>
                        <li><a href="{% url 'bike_upload' %}" class="internal_link">Upload Bike Details</a></li>
                        <li><a href="{% url 'admin:epic:frame' %}" class="internal_link">Review Bike Details</a></li>
                        <li><a href="{% url 'admin:epic:brand' %}" class="internal_link">Brands</a></li>
                        <li><a href="{% url 'admin:epic:supplier' %}" class="internal_link">Suppliers</a></li>
                        <li><a href="{% url 'admin:epic:partsection' %}" class="internal_link">Quote Sections</a></li>
                        <li><a href="{% url 'admin:epic:parttype' %}" class="internal_link">Part Types and attributes</a>
                        </li>
                    </ul>
                    <h3>Admin Actions</h3>
                    <ul>
                        <li><a href="{% url 'admin:epic:customer' %}" class="internal_link">Customers</a></li>
                        <li><a href="{% url 'admin:epic:quote' %}" class="internal_link">Customer Quotes</a></li>
                        <li><a href="{% url 'admin:epic:customerorder' %}" class="internal_link">Customer Orders</a></li>
                    </ul>
                </td>
            {% endif %}
            <td>
                <h2>External Links</h2>
                <h3>Brands</h3>
                <ul>
                    {% for brand in brands %}
                        <li><a target="_blank" class="externalLink" href="{{ brand.link }}">{{ brand.brand_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}
