{% extends 'epic/base.html' %}

{% block content %}
    <h2>Supplier Order</h2>
    <form action="" method="post">
        <table>
            <tr>
                <td class="align_top">
                    <h3>Order Details</h3>
                    {% csrf_token %}
                    {{ supplier }}
                    {% with supplier_order_form as form %}
                        {% include "epic/form_as_table.html" %}
                    {% endwith %}
                </td>
                <td class="align_top">
                    {% include "epic/form_standard_actions.html" %}
                    {% if customer_order.can_be_cancelled %}
                        <a href="{% url 'order_requote' pk=customer_order.pk %}" class="button"
                           title="Remove Order and edit quote to re-issue">Re Quote</a>
                        <a href="{% url 'cancel_order' pk=customer_order.pk %}" class="button"
                           title="Cancel Order and archive associated quote">Cancel</a>
                    {% endif %}
                </td>
            </tr>
        </table>
        <h3>Items to be ordered</h3>
        <table>
            <tr>
                <th class="listHead">Description</th>
                <th class="listHead">Quote</th>
                <th class="listHead">Customer</th>
                <th class="listHead">Add to Order</th>
            </tr>

            {% for possible_item in possible_items %}
                {% cycle 'row1' 'row2' as rowcolors silent %}
                <tr class="{{ rowcolors }}">
                    <td>{{ possible_item.item_description.value }}</td>
                    <td>{{ possible_item.quote_name.value }}</td>
                    <td>{{ possible_item.customer_name.value }}
                        {% for hidden in possible_item.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </td>
                    {% for field in possible_item.visible_fields %}
                        <td class="align_center">
                            {{ field }}{{ field.errors }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        </fieldset>
        {% include "epic/form_standard_actions.html" %}
    </form>
{% endblock %}
