{% extends 'epic/base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
    <form action="" method="post" name="reviewBikes" id="reviewBikes">
        {% csrf_token %}
        <input type="hidden" id="frame_name_selected" name="frame_name_selected" value="{{ frame_name_selected }}"/>
        <input type="hidden" id="frame_name_selected_init" name="frame_name_selected_init"
               value="{{ frame_name_selected }}"/>
        <input type="hidden" id="model_selected" name="model_selected" value="{{ model_selected }}"/>
        <input type="hidden" id="model_selected_init" name="model_selected_init" value="{{ model_selected }}"/>
        <input type="hidden" id="brand_selected_init" name="brand_selected_init" value="{{ frame_brand }}"/>
        <input type="hidden" id="action_required" name="action_required" value="start_review_default"/>
        <section style="width:100%">
            {% with "three-quarters row" as section_class %}
                {% include "epic/frames/frame_select.html" %}
            {% endwith %}
            <div>
                <input type="button"
                       id="reviewButton"
                       value="Review Selected"
                       onclick="checkAndStartReview()"
                       title="Review bikes selected"
                       class="button"/>
            </div>
            <div>
                <input type="button"
                       id="listButton"
                       value="List Selected"
                       onclick="setReviewAction('listModels')"
                       title="List bikes matching selection"
                       class="button"/>
            </div>
            {% if frame_list %}
                <div>
                    <input type="button"
                           id="listActionButton"
                           value="Process list actions"
                           onclick="setReviewAction('process_actions')"
                           title="Process actions on listed bikes"
                           class="button"/>
                </div>
            {% endif %}
        </section>
        {% if frame_sections %}
            <section class="flex-vertical">
                <section style="width:100%">
                    <div style="width: 50%">
                        <h3>Bike specification</h3>
                    </div>
                    <div class="align-right">
                        <input type="button"
                               id="saveButton"
                               value="Save Changes"
                               onclick="setReviewAction('save_changes')"
                               title="Save current settings"
                               class="button"/>
                        <input type="button"
                               id="nextButton"
                               value="Show Next"
                               onclick="setReviewAction('show_next')"
                               title="Show Next Bike"
                               class="button"/>
                        <input type="reset" value="Reset" class="button"/>
                    </div>
                </section>
                <section style="width:100%">
                    <div>
                        <h4>{{ frame }}</h4>
                        {% include "epic/common/form_as_table.html" with form=frame_form %}
                        <div>
                            <h4>Current Part list:</h4>
                            {% for frame_part in frame_parts %}
                                {{ frame_part }}<br/>
                            {% endfor %}
                        </div>
                    </div>
                    <div>
                        <table>
                            <tr id="bike_header">
                                <th class="listHead">Part Type</th>
                                <th class="listHead">Brand</th>
                                <th class="listHead">Part</th>
                                <th class="listHead">Not Appicable</th>
                            </tr>
                        </table>
                        <div style="height: 60%; width:auto; overflow: scroll;">
                            <table>
                                {% for section, sectionContents in frame_sections %}
                                    <tr>
                                        <td colspan='4' class="section_part">{{ section.name }}</td>
                                    </tr>
                                    {% for part_type, form in sectionContents %}
                                        {% cycle 'row1' 'row2' as rowcolors silent %}
                                        <tr class="{{ rowcolors }}"
                                                {% if forloop.first %}
                                            id="bike_row"
                                                {% endif %}>
                                            <td>
                                                {{ part_type }}
                                                {{ form.non_field_errors }}
                                                {% for hidden in form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                            </td>
                                            {% for field in form.visible_fields %}
                                                {% include "epic/common/field_as_td.html"  with field=field %}
                                            {% endfor %}

                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </section>
            </section>
            <input type="hidden" id="frame_id" name="frame_id" value="{{ frame.id }}"/>
        {% elif frame_list %}
            <div>
                <table>
                    <tr id="bike_header">
                        <th class="listHead">Brand</th>
                        <th class="listHead">Frame</th>
                        <th class="listHead">Model</th>
                        <th class="listHead">Price £</th>
                        <th class="listHead">Size(s)</th>
                        <th class="listHead">Colour(s)</th>
                        <th class="listHead">Actions</th>
                    </tr>
                </table>
                <div style="height: 60%; width:auto; overflow: scroll;">
                    <table>
                        {% for frame in frame_list %}
                            {% cycle 'row1' 'row2' as rowcolors silent %}
                            <tr class="{{ rowcolors }}"
                                    {% if forloop.first %}
                                id="bike_row"
                                    {% endif %}>
                                <td>{{ frame.brand }}</td>
                                <td>{{ frame.frame_name }}</td>
                                <td>{{ frame.model }}</td>
                                <td>{{ frame.sell_price }}</td>
                                <td>{{ frame.sizes }}</td>
                                <td>{{ frame.colour }}</td>
                                <td>
                                    <section class="row">
                                        <div style="display: block" id="setArchive{{ frame.id }}"
                                             onclick="clickArchive({{ frame.id }})"
                                             title="Add frame to list to be archived"><i
                                                class="material-icons red ">archive</i></div>
                                        <div style="display: none" id="resetArchive{{ frame.id }}"
                                             onclick="clickArchiveOff({{ frame.id }})"
                                             title="Remove frame from list to be archived"><i
                                                class="material-icons red ">unarchive</i>
                                        </div>
                                        <div style="display: block" id="setEdit{{ frame.id }}"
                                             onclick="clickEdit({{ frame.id }})"
                                             title="Add frame to list of frames to review"><i
                                                class="material-icons red ">edit</i></div>
                                        <div style="display: none" id="resetEdit{{ frame.id }}"
                                             onclick="clickEditOff({{ frame.id }})"
                                             title="Remove frame from list of frames to review"><i
                                                class="material-icons red ">remove_circle_outline</i>
                                        </div>
                                        <input type="hidden" name="archive{{ frame.id }}" id="archive{{ frame.id }}"
                                               value="">
                                        <input type="hidden" name="edit{{ frame.id }}" id="edit{{ frame.id }}" value="">
                                    </section>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        {% endif %}
    </form>
    <script src="{% static 'js/frames/frame_review.js' %}"></script>

{% endblock %}
