{% load static %}

<section class="{{ section_class }}">
    <div class="field-label" id="bikeBrand">
        <label for="frame_brand" class="field-label">Brand</label>
        <select id="frame_brand" name="frame_brand" onchange="processSelectedBrand()">
            <option></option>
            {% for brand in brands %}
                <option value="{{ brand.id }}">
                    {{ brand }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div id="frameDiv" class="field-label">
        <label for="frame_name" class="field-label">Frame</label>
        <select id="frame_name" onchange="processSelectedFrame()">
        </select>
    </div>
    <div id="modelDiv" class="field-label">
        <label for="model_name" class="field-label">Model</label>
        <select id="model_name" onchange="processSelectedModel()">
        </select>
    </div>
</section>
{% if frames_for_js %}
    <script type="text/javascript">
        //declare ops-variable in here and use it
        let frames = [];
        {% for frame in frames_for_js %}
            frames.push({{ frame |safe }});
        {% endfor %}
    </script>
{% endif %}
<script src="{% static 'js/frames/frame_select.js' %}"></script>
